.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 12px;
}

.onBoard {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 314px;
  height: 425px;
  margin-top: 10px;
  background-color: rgb(70 78 86);
  border-top: 5px solid rgb(120 128 136);
  border-right: 5px solid rgb(30 38 46);
  border-bottom: 5px solid rgb(30 38 46);
  border-left: 5px solid rgb(120 128 136);
}

.board {
  display: grid;

  /* display: flex;
  flex-wrap: wrap; */

  grid-template-rows: repeat(9, 30px);
  grid-template-columns: repeat(9, 30px);

  /* gap: 0; */

  /* width: 270px;
  height: 270px; */

  /* padding: 4px; */

  /* background-color: gray; */
  border-top: 5px solid rgb(30 38 46);
  border-right: 5px solid rgb(120 128 136);
  border-bottom: 5px solid rgb(120 128 136);
  border-left: 5px solid rgb(30 38 46);
}

.sampleCell {
  box-sizing: border-box;
  display: flex;
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.png') no-repeat;
  background-color: rgb(56 64 72);
  border: 1px solid rgb(30 38 46);

  /* border-top: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray; */
}

.cell {
  box-sizing: border-box;
  display: flex;

  /* gap: 0; */
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: rgb(76 84 92);
  border-top: 4px solid rgb(112 120 128);
  border-right: 4px solid rgb(34 42 50);
  border-bottom: 4px solid rgb(34 42 50);
  border-left: 4px solid rgb(112 120 128);
}

.zero {
  box-sizing: border-box;
  display: flex;
  width: 30px;
  height: 30px;
  background-color: rgb(56 64 72);
  border: 1px solid rgb(30 38 46);
}

.clickedBomb {
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.png') no-repeat;
  background-color: rgb(238 102 102);
  background-position: -300px;
}

.timeboard {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 75px;
  margin-top: 10px;
  background-color: rgb(68 76 84);
  border-top: 5px solid rgb(30 38 46);
  border-right: 5px solid rgb(120 128 136);
  border-bottom: 5px solid rgb(120 128 136);
  border-left: 5px solid rgb(30 38 46);
}

.resetBotton {
  display: flex;
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.png') no-repeat;
  border: #fff;
}

.flagCount {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 30px;
  background-color: #fff;
}

.time {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 30px;
  background-color: #fff;
}

.flag {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.png') no-repeat;
  background-color: rgb(76 84 92);
  background-position: -270px;
  background-size: auto;
  border-top: 4px solid rgb(112 120 128);
  border-right: 4px solid rgb(34 42 50);
  border-bottom: 4px solid rgb(34 42 50);
  border-left: 4px solid rgb(112 120 128);
}

.question {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.png') no-repeat;
  background-color: rgb(76 84 92);
  background-position: -240px;
  background-size: auto;
  border-top: 4px solid rgb(112 120 128);
  border-right: 4px solid rgb(34 42 50);
  border-bottom: 4px solid rgb(34 42 50);
  border-left: 4px solid rgb(112 120 128);
}
